# Project
/build_static/
media/
external/
/static/fonts/
/static/vendor/

# Docker
docker-compose.production.yml

# Emacs
# -*- mode: gitignore; -*-

# Python
#Pipfile.lock
#poetry.lock

*$py.class
*.cover
*.egg
*.egg-info/
*.elc
*.lcov
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.pyc
*.rel
*.sage.py
*.seed
*.so
*.spec
*.tgz
*.tsbuildinfo
*_archive
*_flymake.*
*~
.Python
.\#*
.cache
.cache/
.cask/
.coverage
.coverage.*
.dir-locals.el
.dmypy.json
.docusaurus
.dynamodb/
.eggs/
.env
.env.development
.env.local
.env.test
.env.testing
.env.staging
.env.production
.env.development.local
.env.production.local
.env.staging.local
.env.test.local
.env.testing.local
.eslintcache
.fusebox/
.grunt
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.org-id-locations
.parcel-cache
.pnp.*
.pnpm-debug.log*
.projectile
.pybuilder/
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scrapy
.serverless/
.spyderproject
.spyproject
.stylelintcache
.svelte-kit
.temp
.tern-port
.tox/
.venv
.vscode-test
.vuepress/dist
.webassets-cache
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
/site
ENV/
MANIFEST
\#*\#
__pycache__/
__pypackages__/
auto-save-list
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
cover/
coverage
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
flycheck_*.el
htmlcov/
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
node_modules/
nosetests.xml
npm-debug.log*
out
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
tramp
var/
venv.bak/
venv/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*
