[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
easy-thumbnails = "*"
sorl-thumbnail = "*"
redis = "*"
hiredis = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-model-utils = "*"
django-tailwind = "*"
django-htmx = "*"

[dev-packages]
django-browser-reload = "*"

[requires]
python_version = "3.9"
